<h3>ALL THE MESSAGES of the Motherfucking Wizard <%= @message[0].author.upcase %>!!!!!!!!!!!!!!!!!!!!!!!</h3>

<% @message.each do |message| %>
  <div class="message">
    <a href="/messages/<%= message.id %>"><%= message.author %></a>
    <p>
      <%= message.content %> // <a href="http://<%= message.url %>"><%= message.url %>
      </a><small><%= message.created_at %></small>
    </p>
    <hr/>
  </div>
<% end %>


